<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Display</title>
</head>
<body>

    <div class="djangtwo">
            {% if user_records %}
                
                {% for person in user_records %}
                    <h4>User INFO</h4>
                    <ul>
                        <li>First Name... {{ person.first_name }}</li>
                        <li>Last Name...{{ person.last_name }}</li>
                        <li>Email adress...{{ person.email }}</li>   
                    </ul>
                    
                {% endfor %}
                {% else %}
                    <p>No access_records found</p>
                {% endif %}                    
    </div>
            
    
</body>
</html>